body {
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 400px;
  margin-right: 400px;
  background: linear-gradient(120deg, #ffffff 0%, #e7dcc7 100%);
}

.container {
  border-style: solid;
  padding-top: 25px;
  padding-bottom: 100px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  max-width: 800px;
  margin: 30px auto;
  border: 3px solid rgb(54, 53, 53);
  background-image: linear-gradient(#ffffff, #f3d8cb);
}

.weather-item {
  display: inline-block;
  width: 75px;
}

#search-form {
  text-align: center;
  height: 38px;
  border-radius: 4px;
}

#city {
  font-weight: 900px;
  padding: 20px;
  color: 878787;
  line-height: 32px;
}

li,
span {
  list-style: none;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 2px;
}

.stats {
  text-align: right;
  margin-right: 30px;
  margin-top: 2px;
}

.icon img {
  height: 120px;
  width: auto;
}

.weather-forecast {
  margin-top: 18px;
  text-align: center;
  opacity: 0.8;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
